<p id="notice"><%= notice %></p>

<h1>Listing Condition Foods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @condition_foods.each do |condition_food| %>
      <tr>
        <td><%= condition_food.name %></td>
        <td><%= link_to 'Show', condition_food %></td>
        <td><%= link_to 'Edit', edit_condition_food_path(condition_food) %></td>
        <td><%= link_to 'Destroy', condition_food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Condition food', new_condition_food_path %>
